{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        {
            "files": ["*.json", "*.scss", "*.yaml", "*.yml"],
            "options": { "tabWidth": 2 }
        }
    ]
}
